<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="form-signin-heading">로그인</h2>
    </div>
    <div class="modal-body">
        <form class="form-signin">
            <input type="id" class="form-control" placeholder="아이디" ng-required="true" ng-model="auth.id">
            <input type="password" class="form-control" placeholder="비밀번호" ng-required="true" ng-model="auth.pw">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-login" ng-click="Login(this)">
            Login
        </button>
    </div>
</div>