
<link rel="stylesheet" href="styles/warequest.css">

<div class="container">
    <table class="table tb-list">
        <thead>
        <tr>
            <th class="title text-center">Contents</th>
            <th class="date text-center">Date</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <!-- item in pagedItems[currentPage] -->
        <tr ng-repeat="item in boardList">
            <td>
                <a href="" ng-click="process(item)">{{item.contents}}</a>
            </td>
            <td class="text-center">
                {{item.date}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div style="width: 100%;text-align: center">
    <div class="container" style="width: 300px; margin:0 auto">
        <ul class="pagination pull-right">
            <li ng-class="{disabled: currentPage == 0}">
                <a href="" ng-click="prevPage()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href="" ng-bind="n + 1"></a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href="" ng-click="nextPage()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>

</div>