<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head><!--test-->
    <meta charset="utf-8">
    <title>제품문의</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="/">
    <!--<link rel="stylesheet/less" href="bower_components/bootstrap/dist/css/bootstrap.css"/>-->
    <!--<link rel="stylesheet" href="styles/main.css"/>-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/animate.css">

    <script src="scripts/design/jquery.min.js"></script>
    <script src="scripts/design/bootstrap.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/requestApp.js"></script>
    <script src="scripts/controllers/request.admin.controller.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/cione_logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/cione_logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/cione_logo.png">
    <link rel="apple-touch-icon-precomposed" href="images/icon/cione_logo.png">
    <!--<link rel="shortcut icon" href="images/icon/favicon.png">-->
    <link rel="shortcut icon" href="images/icon/cione_logo.png">
</head>
<body ng-app="requestApp" ng-controller="requestAdminCtrl">

<div class="container">

    <!-- header(menu bar), quick menu, mobile quick menu -->
    <div id="navi">
    </div>

    <!-- top contents -->

    <!-- middle contents -->


    <div>
        <div ng-if="selectedItem.id >= 0" ng-include="'views/6000-S_request/048-6210-S_request_View1.html'"></div>
        <div ng-controller="requestListCtrl" ng-include="'views/6000-S_request/048-6220-S_request_List1.html'"></div>
    </div>

    <!-- bottom contents -->

</div>

</body>
</html>