<link rel="stylesheet" href="styles/warequest.css">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2> 제품문의 </h2>
        </div>
    </div>

    <div class="row clearfix con01">
        <div class="col-sm-12 column">
            <div class="well">
                <div class="content">

                    <div class="col-sm-12 column">
                        <p>
                            씨아이원의 웹시스템을 원하세요?
                            <br>
                            견적을 문의하시면 빠르게 연락드리겠습니다
                        </p>
                    </div>

                    <div class="col-sm-12 column">
                        <div class="media con02">
                            <div class="col-xs-6">
                                <a href="" ng-click="openWin('request1')">
                                    <img src="images/icon/browser1.png" class="media-object pull-left" alt='webSystem'/>
                                </a>
                            </div>

                            <div class="media-body col-xs-6">
                                <h4 class="media-heading"> iot Web System </h4>

                                <p class="iottech">
                                    사물인터넷 웹 페이지 제작에 대해 궁금하신가요?
                                </p>
                            </div>
                        </div>
                        <div class="media con02">
                            <div class="media-body col-xs-6">
                                <h4 class="media-heading"> iot Web Server </h4>

                                <p class="iottech">
                                    사물인터넷 웹 서버 구축에 대해 궁금하신가요?
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <a href="" ng-click="openWin('request2')">
                                    <img src="images/icon/globe1.png" class="media-object pull-right" alt='webServer'/>
                                </a>
                            </div>
                        </div>
                        <div class="media con02">
                            <div class="col-xs-6">
                                <a href="" ng-click="openWin('request3')">
                                    <img src="images/icon/news1.png" class="media-object pull-left" alt='webImage'/>
                                </a>
                            </div>

                            <div class="media-body col-xs-6">
                                <h4 class="media-heading"> Web Image </h4>

                                <p class="iottech">
                                    웹 홍보 이미지 제작에 대해 궁금하신가요?
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a href="" class="col-xs-12 column pull-right">
            <button type="button" class="btn btn-default" ng-click="openWin('admin')" ng-show="isAdmin()">관리자
            </button>
        </a>
    </div>
</div>
