<div class="accordion"
     ng-init="isCollapsedA = true; isCollapsedB = true;isCollapsedC = true;isCollapsedD = true;">
    <ul class="list-unstyled">
        <li>
            <input type="radio" ng-model="imgType" value="A">
            <button type="button" class="btn btn-default" ng-click="isCollapsedA = !isCollapsedA">
                A타입 : 배경없이 제품만 편집하여 제공　　　　▼
            </button>
            <div collapse="isCollapsedA">
                <div class="well">
                    <img src="http://placehold.it/300X120" alt="1">
                </div>
            </div>
        </li>
        <li>
            <input type="radio" ng-model="imgType" value="B">
            <button type="button" class="btn btn-default" ng-click="isCollapsedB = !isCollapsedB">
                B타입 : 배경을 단색으로 처리하여 제공　　　　▼
            </button>
            <div collapse="isCollapsedB">
                <div class="well">
                    {{imgTypeB}}
                    <img src="http://placehold.it/300X120" alt="2">
                </div>
            </div>
        </li>
        <li>
            <input type="radio" ng-model="imgType" value="C">
            <button type="button" class="btn btn-default" ng-click="isCollapsedC = !isCollapsedC">
                C타입 : 배경을 그라데이션으로 처리하여 제공　▼
            </button>
            <div collapse="isCollapsedC">
                <div class="well">
                    {{imgTypeC}}
                    <img src="http://placehold.it/300X120" alt="3">
                </div>
            </div>
        </li>
        <li>
            <input type="radio" ng-model="imgType" value="D">
            <button type="button" class="btn btn-default" ng-click="isCollapsedD = !isCollapsedD">
                D타입 : 이미지에 강조용 애니메이션 추가　　　▼
            </button>
            <div collapse="isCollapsedD">
                <div class="well">
                    {{imgTypeD}}
                    <img src="http://placehold.it/300X120" alt="4">
                </div>
            </div>
        </li>
    </ul>
</div>