<div>
    <ul class="list-unstyled">
        <li>
            <input type="checkbox" ng-model="mdHomepage" ng-init="mdHomepage = false">홈페이지 보유
            <input type="text" ng-model="board.hpAddr" placeholder="홈페이지 주소" ng-if="mdHomepage">
        </li>
    </ul>
    <div class="accordion" id="selectBizType" ng-init="isCollapsed = true">
        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
            여기를 눌러서 업종을 선택해주세요. ▼
        </button>
        <div collapse="isCollapsed">
            <div class="well">
                <table>
                    <tr ng-repeat="list in bizTypeList">
                        <td>
                            <input type="checkbox" ng-model="list.checked"> {{list.type}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>