<link rel="stylesheet" href="styles/waiot.css">
<div class="container">
    <br>

    <h3> 사물인터넷 활용 </h3>

    <div class="row clearfix">


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 column">
            <img src="images/icon/4000-img02.png" alt="ceo 이미지" class="img-responsive image">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 column">
            <!--
                    <pre class="content">
            <h4 class="title"><strong>개인 부문</strong></h4>
            차량을 인터넷으로 연결하여 안전하고 편리한 운전을 도움 (안드로이드 운영체제를 기반으로 한 커넥티드 카)
            심장박동, 운동량 등의 정보를 제공하여 개인의 건강을 증진
            주거환경을 통합 제어할 기술을 마련하여 생활 편의를 높히고 안전성을 제고

            <h4 class="title"><strong>산업 부문</strong></h4>
            공정을 분석하고 시설물을 모니터링하여 작업 효율과 안전을 제고
            생산, 가공, 유통부문에 사물인터넷 기술을 접목하여 생산성을 향상시키고 안전유통체계를 확보
            주변 생활제품에 사물인터넷을 토입하여 고부가 서비스 제품을 생산

            <h4 class="title"><strong>공공 부문</strong></h4>
            CCTV, 노약자 GPS 등의 사물인터넷 정보를 사용해 재난이나 재해를 예방
            대기 상태, 쓰레기양 등의 정보를 제공받아 환경오염을 최소화
            에너지 관련 정보를 제공받아 에너지 관리 효율성을 증대
            정보통신기술을 기반으로 교통, 공공행정 등의 다양한 도시 데이터 개방하여 도시 전체의 공공기물들과 주민들이 효율적으로 상호작용하는 스마트시티 건설을 추진
            빈 주차공간을 감지해 주차 정보를 공유, 쓰레기통의 포화 상태를 측정해 수거 트럭에 정보를 송신하는 등 사물인터넷 개념을 활용한 도시 관리 시스템을 구축

                    </pre>

                    -->

            <dl>
                <dt>
                    개인 부문
                </dt>
                <dd>
                    - 차량을 인터넷으로 연결하여 안전하고 편리한 운전을 도움 (안드로이드 운영체제를 기반으로 한 커넥티드 카)
                    - 심장박동, 운동량 등의 정보를 제공하여 개인의 건강을 증진
                    - 주거환경을 통합 제어할 기술을 마련하여 생활 편의를 높히고 안전성을 제고

                </dd>
                <dt>
                    산업 부문
                </dt>
                <dd>
                    - 공정을 분석하고 시설물을 모니터링하여 작업 효율과 안전을 제고
                </dd>
                <dd>
                    - 생산, 가공, 유통부문에 사물인터넷 기술을 접목하여 생산성을 향상시키고 안전유통체계를 확보
                </dd>
                <dd>
                    - 주변 생활제품에 사물인터넷을 토입하여 고부가 서비스 제품을 생산
                </dd>
                <dt>
                    공공 부문
                </dt>
                <dd>
                    - CCTV, 노약자 GPS 등의 사물인터넷 정보를 사용해 재난이나 재해를 예방
                </dd>
                <dd>
                    - 대기 상태, 쓰레기양 등의 정보를 제공받아 환경오염을 최소화
                </dd>
                <dd>
                    - 에너지 관련 정보를 제공받아 에너지 관리 효율성을 증대
                </dd>
                <dd>
                    - 정보통신기술을 기반으로 교통, 공공행정 등의 다양한 도시 데이터 개방하여 도시 전체의 공공기물들과 주민들이 효율적으로 상호작용하는 스마트시티 건설을 추진
                </dd>
                <dd>
                    - 빈 주차공간을 감지해 주차 정보를 공유, 쓰레기통의 포화 상태를 측정해 수거 트럭에 정보를 송신하는 등 사물인터넷 개념을 활용한 도시 관리 시스템을 구축
                </dd>
            </dl>
        </div>

    </div>
</div>