<link rel="stylesheet" href="styles/waiot.css">
<div class="container">
    <br>

    <h3> 구축 기술</h3>

    <div class="row clearfix">


        <!--
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
            <img src="../../images/4000-iot/4000-img03.png" alt="ceo 이미지" class="img-responsive image">
            <pre class="content">
 Nodejs 는 사물인터넷 환경 시스템 개발에 핵심 기술입니다. 단방향 통신만 가능했던 이전 기술과 달리 양방향 통신이 가능한 웹시스템 개발을 가능하게 해주어 사물과 시스템간의 자유로운 데이터 통신을 할 수 있습니다. 사물로부터 데이터를 받고 받은정보를 활용할 수 있고 , 사물을 직접 조작할 수 있도록 통신조작이 가능할 수 있도록 하는 NodeJS 는 사물인터넷의 핵심 기술입니다.
            </pre>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
            <img src="../../images/4000-iot/4000-img04.png" alt="ceo 이미지" class="img-responsive image">
            <pre class="content">
 Nginx 는 가볍고 성능이 향상된 새로운 웹 서버 솔루션입니다. 기존 EJB 기반의 웹 시스템을 동작시키기 위한 많은 웹 서버 솔루션이 있었지만 많은 기능을 포함하게 되면서 결과적으로 덩치가 커지고 무거운 시스템이 되어버렸습니다. nginx는 마치 블록을 조립하듯이 필요한 기능만 사용하는 것이 가능하여 경량화된 솔루션 구성이 가능하여 기존 서버보다 더 높은 성능의 서비스를 제공할 수 있습니다. 또한 서비스중인 웹 솔루션별로 각기 다른 설정을 간편하게 제공할 수 있기 때문에 서버의 유연한 관리가 가능합니다. Nginx 는 사물인터넷 웹 솔루션에 가장 적합한 웹 서버 솔루션 입니다
            </pre>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
            <img src="../../images/4000-iot/4000-img05.png" alt="ceo 이미지" class="img-responsive image">
            <pre class="content">
 AngularJS는 구글에서 개발한 웹 프론트엔드 개발 프레임워크 입니다. 그 동안 MVC 패턴의 웹시스템에서 양방향통신을 하기 위해서는 복잡한 코딩과 상당수의 시간이 필요했으며, 서비스를 위해서는 많은 리소스와 대역폭이 필요했습니다. 하지만 AgularJS는 양방향 데이터 바인딩을 간단한 지시어 형태로 제공하여 프론트엔드단의 효율적인 개발이 가능하게 해줍니다. 또한, SPA(Single Application Page) 개발방법론이 적용되어 정적 템플릿과 동적 데이터를 클라이언트단에서 조립하는 구조 제공하여, 실제 통신을 통해 데이터를 가져오는 양이 감소되어 더 빠르고 다양한 웹 서비스를 제공할 수 있습니다. AngularJS는 사물 인터넷 웹개발에 최적화된 프론트엔드 개발 프레임워크 입니다
            </pre>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
            <img src="../../images/4000-iot/4000-img06.png" alt="ceo 이미지" class="img-responsive image">
            <pre class="content">
 몽고DB(MongoDB←HUMONGOUS)는 크로스 플랫폼 도큐먼트 지향 데이터베이스 시스템입니다. NoSQL 데이터베이스로 분류되는 몽고DB는 동적 스키마형 문서들을 선호함에 따라 전통적인 테이블 기반 관계형 데이터베이스 구조의 사용지양합니다. 이로써 특정한 종류의 애플리케이션을 더 쉽고 더 빠르게 데이터 통합을 가능케 합니다. MongoDB는 가장 유명한 NoSQL데이터 베이스 시스템으로 빅데이터를 필요로 하는 사물인터넷에 적합한 데이터 베이스 시스템 입니다
            </pre>

        </div>
        -->


        <div class="row clearfix con01">
            <div class="col-md-6 col-lg-6 column">
                <div class="media con02">
                    <img src="images/icon/4000-img03.png" class="media-object pull-left" alt='nodejs'/>

                    <div class="media-body">
                        <h4 class="media-heading"> nodeJS </h4>

                        <p class="iottech">
                            Nodejs 는 사물인터넷 환경 시스템 개발에 핵심 기술입니다.<br> 단방향 통신만 가능했던 이전 기술과 달리 양방향 통신이 가능한 웹시스템 개발을 가능하게 해주어
                            사물과 시스템간의 자유로운 데이터 통신을 할 수 있습니다. <br>
                            사물로부터 데이터를 받고 받은정보를 활용할 수 있고 , 사물을 직접 조작할 수 있도록 통신조작이 가능할 수 있도록 하는 NodeJS 는 사물인터넷의 핵심 기술입니다.
                        </p>
                    </div>
                </div>
                <div class="media con02">
                    <img src="images/icon/4000-img04.png" class="media-object pull-left" alt='nginx'/>

                    <div class="media-body">
                        <h4 class="media-heading"> nginX </h4>

                        <p class="iottech">
                            Nginx 는 가볍고 성능이 향상된 새로운 웹 서버 솔루션입니다.<br> 기존 EJB 기반의 웹 시스템을 동작시키기 위한 많은 웹 서버 솔루션이 있었지만 많은 기능을
                            포함하게 되면서 결과적으로 덩치가 커지고 무거운 시스템이 되어버렸습니다. <br>
                            nginx는 마치 블록을 조립하듯이 필요한 기능만 사용하는 것이 가능하여 경량화된 솔루션 구성이 가능하여 기존 서버보다 더 높은 성능의 서비스를 제공할 수 있습니다.
                            <br>
                            또한 서비스중인 웹 솔루션별로 각기 다른 설정을 간편하게 제공할 수 있기 때문에 서버의 유연한 관리가 가능합니다. Nginx 는 사물인터넷 웹 솔루션에 가장 적합한
                            웹 서버 솔루션 입니다. <br>
                        </p>
                    </div>
                </div>
                <div class="media con02">
                    <img src="images/icon/4000-img05.png" class="media-object pull-left" alt='angularjs'/>

                    <div class="media-body">
                        <h4 class="media-heading"> AngularJS </h4>

                        <p class="iottech">
                            AngularJS는 구글에서 개발한 웹 프론트엔드 개발 프레임워크 입니다.<br> 그 동안 MVC 패턴의 웹시스템에서 양방향통신을 하기 위해서는 복잡한 코딩과
                            상당수의 시간이 필요했으며, 서비스를 위해서는 많은 리소스와 대역폭이 필요했습니다. <br>
                            하지만 AgularJS는 양방향 데이터 바인딩을 간단한 지시어 형태로 제공하여 프론트엔드단의 효율적인 개발이 가능하게 해줍니다. <br> 또한, SPA(Single
                            Application Page) 개발방법론이 적용되어 정적 템플릿과 동적 데이터를 클라이언트단에서 조립하는 구조 제공하여,
                            실제 통신을 통해 데이터를 가져오는 양이 감소되어 더 빠르고 다양한 웹 서비스를 제공할 수 있습니다. <br>AngularJS는 사물 인터넷 웹개발에 최적화된
                            프론트엔드 개발 프레임워크 입니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 column">
                <div class="media con02">
                    <img src="images/icon/4000-img06.png" class="media-object pull-left" alt='mongodb'/>

                    <div class="media-body">
                        <h4 class="media-heading"> MongoDB </h4>

                        <p class="iottech">
                            몽고DB(MongoDB←HUMONGOUS)는 크로스 플랫폼 도큐먼트 지향 데이터베이스 시스템입니다. <br>NoSQL 데이터베이스로 분류되는 몽고DB는 동적 스키마형
                            문서들을 선호함에 따라 전통적인 테이블 기반 관계형 데이터베이스 구조의 사용지양합니다.<br>
                            이로써 특정한 종류의 애플리케이션을 더 쉽고 더 빠르게 데이터 통합을 가능케 합니다.<br> MongoDB는 가장 유명한 NoSQL데이터 베이스 시스템으로 빅데이터를
                            필요로 하는 사물인터넷에 적합한 데이터 베이스 시스템 입니다
                        </p>
                    </div>
                </div>
                <div class="media con02">
                    <img src="images/icon/4000-img07.png" class="media-object pull-left" alt='mariadb'/>

                    <div class="media-body">
                        <h4 class="media-heading"> MariaDB </h4>

                        <p class="iottech">
                            MariaDB는 오픈 소스의 관계형 데이터베이스 관리 시스템입니다. ERP 시스템에서는 데이터간의 관계를 조작하여 원하는 데이터를 추출하는 관계형 데이터 베이스가 더
                            알맞습니다
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>