<link rel="stylesheet" href="styles/waiot.css">

<script>

    /*affix + spyscroll의 에니메이션을 지원하기위한 스크립트*/

    /* activate scrollspy menu */
    var $body = $(document.body);
    var navHeight = $('.navbar').outerHeight(true) + 10;

    $body.scrollspy({
        target: '#leftCol',
        offset: navHeight
    });

    /* smooth scrolling sections */
    $('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top - 50
                }, 1000);
                return false;
            }
        }
    });

</script>

<div class="container">
    <div class="visible-xs visible-sm affix">
        <ul class="nav nav-stacked  tab-group">
            <li><a href="#sec00" class="btn btn-block tab-btn tab1 active">사물인터넷 개념</a></li>
            <li><a href="#sec11" class="btn btn-block tab-btn tab1">사물인터넷 활용</a></li>
            <li><a href="#sec22" class="btn btn-block tab-btn tab1">구축기술</a></li>
        </ul>
    </div>

    <!-- introduce internet of things -->
    <div class="row featurette my4000-bg">
        <div id="IoTMain" class="container my4000">
            <br>

            <h2>사물인터넷 <span class="text-muted">Internet of Things (IoT)</span></h2>

            <div id="IoTDetail" class="well">
                <div ng-include="'views/4000-S_iot/048-4100-S_iot_View1.html'" id="sec00">
                </div>
                <div ng-include="'views/4000-S_iot/048-4200-S_iot_View2.html'" id="sec11">
                </div>
                <div ng-include="'views/4000-S_iot/048-4300-S_iot_View3.html'" id="sec22">
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="row featurette"  style="background-color: white">
<div id="ProductMain" class="container my2000">
<h3 class="featurette-heading"><strong>제품소개</strong> <span class="text-muted">Product</span></h3>

<div id="ProductDetail">
    <div ng-include="'views/2000-S_product/048-2100-S_product_View1.html'" id="sec00">
    </div>

    <div class="row clearfix"> </div>
    <div ng-include="'views/2000-S_product/048-2200-S_product_View2.html'" id="sec11">
    </div>
    <div ng-include="'views/2000-S_product/048-2300-S_product_View3.html'" id="sec22">
    </div>
</div>

</div>
</div>
