
<link rel="stylesheet" href="styles/waproduct.css">

<div class="container">
    <br>

    <h3 class="featurette-heading sub-title">- IOT 웹 페이지 </h3>
    <h4 class="text-center">&nbsp;씨아이원은 <br><span class="text1">사물인터넷 기반</span> 의 <br>웹페이지를 제작합니다.</h4>
    <br><br>

    <div class="row clearfix">

        <h5 class="title"><strong>1. 웹페이지</strong></h5>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 column">
            <img src="images/icon/2000-img01.png" alt="ceo 이미지" class="img-responsive image">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 column">

        <pre class="content">
 사물인터넷 기술이 녹아있는 씨아이원의 웹페이지는 사용하는 <strong>고객의 정보</strong> 를 <strong>분석</strong> 하여 더 편리한 웹페이지를 사용할 수 있도록 자동으로 <strong>변화</strong> 하거나, 시간과 날씨를 분석하여 고객에게 더 알맞는 <strong>정보</strong> 를 자동으로 제공합니다. 기존 <strong>PC</strong> 를 포함, 소비자 교섭력이 점차 확대되어가는 <strong>모바일</strong> 에서 <strong>동시에</strong> 사용이 가능한 웹페이지로 더 넓은 고객에게 회사와 제품을 홍보하세요
        </pre>
        </div>

    </div>
    <br><br><br>

    <div class="row clearfix">

        <h5 class="title"><strong>2. 고객소통</strong></h5>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 column">
            <img src="images/icon/2000-img02.png" alt="ceo 이미지" class="img-responsive image">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 column">

        <pre class="content">
 NFC와 QR 코드를 사용한 사물인터넷 기술을 통해 고객과 더 밀접한 소통이 가능한 웹페이지를 제공 효율적인 홍보를 할 수 있습니다. 또한 합니다. 또한 고객과 실시간으로 상담할 수 있는 기술을 통해 더 빠르고 만족도 높은 서비스를 제공할 수 있고, 고객과의 소통한 정보는 빅데이터로 정보를 수집/관리/분석 하여 전략적인 경영 계획을 세우기 위한 자료로 사용됩니다. 스마트한 경영을 위한 첫 발걸음을 씨아이원이 도와드리겠습니다
        </pre>
        </div>
    </div>
    <br><br><br>

    <div class="row clearfix">

        <h5 class="title"><strong>3. 직원소통</strong></h5>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 column">
            <img src="images/icon/2000-img03.png" alt="ceo 이미지" class="img-responsive image">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 column">

        <pre class="content">
 직원과 더 편리하게 소통할 수 있는 웹페이지를 사용할 수 있습니다. 직원간에, 부서간에 쉽게 언제 어디서나 정보를 공유할 수 있는 기능을 포함하는 웹페이지를 통해 더 빠르고 편리한 의사소통이 가능합니다. 클라우드 기반의 웹시스템과 반응형 웹은 PC와 모바일 기기에서 동시에 웹 페이지 사용을 가능하게 합니다. 더욱 발전된 씨아이원의 웹 시스템이 효율적인 업무환경을 지원합니다
        </pre>
        </div>
    </div>
</div>
