<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head><!--test-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>고객체험관</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/activesize.css"/>
</head>
<body ng-app="expApp">

<div class="container" ng-controller="actCtrl">
    <h1>This is the html for Act Page</h1>
    <div>
        <div class="responsive" rel>
            <a href="#" class="desktop active" title="Desktop"></a>
            <a href="#" class="tabletlandscape" title="Tablet landscape (1024x768)"></a>
            <a href="#" class="tabletportrait" title="Tablet portrait (768x1024)"></a>
            <a href="#" class="mobilelandscape" title="Mobile landscape (480x320)"></a>
            <a href="#" class="mobileportrait" title="Mobile portrait (320x480)"></a>
    </div><div>　</div>
    <div class="col-md-12 column">
        <iframe id="aiframe" src="/views/partials/actpage.html" frameborder="1" style="width: 140%"></iframe>
    </div>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers/module.controller.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="scripts/controllers/activescreen.js"></script>
</body>
</html>