<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head><!--test-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>고객체험관</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--

        <script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=982de6374226b21b06f16195e22dad72a0580dc6" charset="utf-8"></script>
        <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=e69e566720ed31561de7793f47dbc708"></script>
    -->

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/jquery.simplecolorpicker.css"/>
    <link rel="stylesheet" href="styles/activesize.css"/>
    <link href="styles/wacommon.css" rel="stylesheet">
    <link href="styles/exp_stage.css" rel="stylesheet">
</head>
<body ng-app="expApp">
<!-- 본문 내용-->
<div class="container" ng-controller="nfcCtrl">
    <h1>This is the html for NFC Page</h1>
    <div>{{message}}</div>

</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers/module.controller.js"></script>
<script src="scripts/controllers/cione1envSystem.js"></script>
</body>
</html>