<footer class="navbar">
    <!-- begin of mobile bottom fixed menu -->
    <!--<div class="navbar nav-sun navbar-fixed-bottom visible-sm visible-xs">
        <div class="row clearfix">
            <div class="col-xs-12 column">
                <nav class="navbar navbar-light navbar-under navbar-fixed-bottom visible-sm visible-xs"
                     role="navigation">
                    <div class="navbar-inner">
                        <p class="pull-right">
                            <a id="mobile-menu-button" href="" role="button" class="btn-mobl" data-toggle="modal"
                               ng-click="mobileMenu()">
                                <img src="images/menu/m_btn.png" class="md-btn" alt="목록"> </a>
                        </p>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    -->
    <!-- end of mobile bottom fixed menu -->

    <!-- begin of footer -->
<!--    <div class="col-md-12 col-lg-12 visible-md visible-lg">
        <ul class="list-unstyled list-inline text-center">
            <li>
                <strong>상호명: 씨아이원</strong>
            </li>
            <li>
                FAX: 02-866-4999
            </li>
        </ul>

        <address class="text-center">
            COPYRIGHT &copy; 2013 CIONE ALL RIGHTS RESERVED
        </address>
    </div>-->
    <!-- end of footer -->

    footer
</footer>